<div class="main">
  <tbody>
    <% @shops.each do |shop| %>
      <tr> 
        <td><% link_to '詳細', shop %></td>
        <td><% link_to '編集', edit_shop_path(shop) %></td>  
        <td><% link_to '削除', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> 
    <% end %>
  </tbody>
  <div class="fv-section">
    <p>
      いつも同じ店になる
    </p>
    <p>
      気になっているけど入りづらい
    </p>
    <p>
      時間までに戻ってこれるか不安
    </p>
    <p>
      一緒に行く人がいたらいいな
    </p>
    <p class="main-copy">地図にランチ情報を埋めて会社オリジナルのランチマップを作りませんか？</p>
  </div>
  <section class='pickupContainer'>
    <h2 class='head'></h2>
    <div class='productBox'>
      <div class='producBoxt-Head'>
        <h2 class='title'>新規投稿</h2>
      </div>
      <% @shops.each do |shop| %>
        <div class='productLists'>
          <div class='productList'>
          
            <%# <a href="/products/3"> </a> %>
            <figure class='productList--img'>
              <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png" />
            </figure>
            <div class='productList--body'>
              <%= link_to '詳細', "/shops/#{shop.id}", method: :get %>
              <h3 class='name'><%= shop.name %></h3>
              <div class='details'>
                <ul>
                  <li>500円</li>
                  <li><%= shop.address %></li>
                  <li><i class="fa fa-star likeIcon"></i></li>☆                  
                </ul> 
              </div>
            </div>
          </div>  
        </div>
      <% end %>  
        <div class='productList'>
          <a href="/products/2">
            <figure class='productList--img'>
              <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png" />
            </figure>
            <div class='productList--body'>
              <h3 class='name'></h3>
              <div class='details'>
                <ul>
                  <li>20000円</li>
                  <li></li>
                  <li><i class="fa fa-star likeIcon"></i></li>☆
                </ul>
                <p>(税込)</p>
              </div>
            </div>
          </a>
        </div>
        <div class='productList'>
          <a href="/products/1">
            <figure class='productList--img'>
              <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png" />
            </figure>
            <div class='productList--body'>
              <h3 class='name'>店名3</h3>
              <div class='details'>
                <ul>
                  <li>10000円</li>
                  <li><i class="fa fa-star likeIcon"></i></li>
                </ul>
                <p>(税込)</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>  
  </section>
  <section class='pickupContainer'>
    <div class='productBox'>
      <div class='productHead'>
        <h2 class='title'>店までの距離</h2>
      </div>
      <div class='productLists'>
        <div class='productList'>
          <a href="/products/3">
            <figure class='productList--img'>
              <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png" />
            </figure>
            <div class='productList--body'>
              <h3 class='name'>店名1</h3>
              <div class='details'>
                <ul>
                  <li>15分</li>
                  <li>900円</li>
                  <li>
                  <i class="fa fa-star likeIcon"></i>☆
                  </li>
                </ul>
                <p>(税込)</p>
              </div>
            </div>
          </a>
        </div>
        <div class='productList'>
          <a href="/products/2">
            <figure class='productList--img'>
              <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png" />
            </figure>
            <div class='productList--body'>
              <h3 class='name'>店名2</h3>
              <div class='details'>
                <ul>
                  <li>10分</li>
                  <li>750円</li>
                  <li>
                    <i class="fa fa-star likeIcon"></i>☆
                  </li>
                </ul>
                <p>(税込)</p>
              </div>
            </div>
          </a>
        </div>
        <div class='productList'>
          <a href="/products/1">
            <figure class='productList--img'>
              <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png" />
            </figure>
            <div class='productList--body'>
              <h3 class='name'>product1</h3>
              <div class='details'>
                <ul>
                  <li>15分</li>
                  <li>1000円</li>
                  <li>
                  <i class="fa fa-star likeIcon"></i>☆
                  </li>
                </ul>
                <p>(税込)</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class='pickupContainer'>
    <div class='productBox'>
      <div class='productHead'>
        <h2 class='title'>値段</h2>
      </div>
      <div class='productLists'>
        <div class='productList'>
          <a href="/products/3">
            <figure class='productList--img'>
              <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png" />
            </figure>
            <div class='productList--body'>
              <h3 class='name'>店名1</h3>
              <div class='details'>
                <ul>
                  <li>700円</li>
                  <li>
                  <i class="fa fa-star likeIcon"></i>☆
                  </li>
                </ul>
                <p>(税込)</p>
              </div>
            </div>
          </a>
        </div>
        <div class='productList'>
          <a href="/products/2">
            <figure class='productList--img'>
              <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png" />
            </figure>
            <div class='productList--body'>
              <h3 class='name'>店名２</h3>
              <div class='details'>
                <ul>
                  <li>1000円</li>
                  <li>
                    <i class="fa fa-star likeIcon"></i>☆
                  </li>
                </ul>
                <p>(税込)</p>
              </div>
            </div>
          </a>
        </div>
        <div class='productList'>
          <a href="/products/1">
            <figure class='productList--img'>
              <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png" />
            </figure>
            <div class='productList--body'>
              <h3 class='name'>店名3</h3>
              <div class='details'>
                <ul>
                  <li>1000円</li>
                  <li>
                  <i class="fa fa-star likeIcon"></i>☆
                  </li>
                </ul>
                <p>(税込)</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class='pickupContainer'>
    <div class='productBox'>
      <div class='productBox-Head'>
        <h2 class='title'>オススメ</h2>
      </div>
      <div class='productLists'>
        <div class='productList'>
          <a href="/products/3">
            <figure class='productList--img'>
              <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png" />
            </figure>
            <div class='productList--body'>
              <h3 class='name'>店名1</h3>
              <div class='details'>
                <ul>
                  <li>700円</li>
                  <li>
                  <i class="fa fa-star likeIcon"></i>☆
                  </li>
                </ul>
                <p>(税込)</p>
              </div>
            </div>
          </a>
        </div>
        <div class='productList'>
          <a href="/products/2">
            <figure class='productList--img'>
              <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png" />
            </figure>
            <div class='productList--body'>
              <h3 class='name'>店名２</h3>
              <div class='details'>
                <ul>
                  <li>1000円</li>
                  <li>
                    <i class="fa fa-star likeIcon"></i>☆
                  </li>
                </ul>
                <p>(税込)</p>
              </div>
            </div>
          </a>
        </div>
        <div class='productList'>
          <a href="/products/1">
            <figure class='productList--img'>
              <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png" />
            </figure>
            <div class='productList--body'>
              <h3 class='name'>店名3</h3>
              <div class='details'>
                <ul>
                  <li>1000円</li>
                  <li>
                  <i class="fa fa-star likeIcon"></i>☆
                  </li>
                </ul>
                <p>(税込)</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
<footer>
  <div class="attention">
    <%= link_to '利用規約', '#' %>
  </div>
  <div class="footer-log">
    <small>©︎ 2020 ASSE</small>
  </div>
</footer>
