<h1>New Shop</h1>
<div id='map'></div>

<input id="address" type="textbox" placeholder="場所を入力してください">
<input type="button" value="表示" onclick="codeAddress()">
<div id="display">ランチ場所</div>


<style>
#map { height: 600px;width: 600px;}

</style>

<script>
let map
let geocoder
const display = document.getElementById('display')

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.681236, lng:139.767125},
    zoom: 15,
  });

  marker = new google.maps.Marker({
    position:  {lat: 35.681236, lng:139.767125},
    map: map
  });
}

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      let marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=AIzaSyAD_hqgyKELzdJcgXRshABtsr5UZv3yKck&callback=initMap" async defer></script>


<%= render 'form', shop: @shop %>

<%= link_to 'Back', shops_path %>
