<div class="mypage">
  <div class="maypage_main">
    よく行くお店や好きなジャンルを埋めてマイページを充実させましょう
    <table>
      <tr>
        <th>プロフィール</th>
      <tr>
        <td>好きなジャンル</td>
        <td>和食:ラーメン</td>
      </tr>
      <tr>
        <td>よく行くお店</td>
        <td>駅前の和食屋</td>
      </tr>
      <tr>
        <td>おすすめの店</td>
        <td>南インドカレー</td>
      </tr>
    </table>
  </div> 
  </div>
</div>