<div class="mypage">
  <%= @user.nickname %>さんのプロフィール
    よく行くお店や好きなジャンルを埋めてマイページを充実させましょう
    <%# <p><strong><%= link_to profile.user.nickname, "/users/#{profile.user_id}" %>：</strong></p> 
  <div class="mypage_main">
    <%= render "mypage_side" %>
  </div>     
</div>


