.header {
  background-color: yellow;
  height: 32px;
  width: 100vw;
  padding: 3em;
  display: flex;
}
.header-title {
  
  
} 
.header-search {
  
  
} 
.header-list {
  
  
} 
.main-contents {
  margin: 0 auto;
}

.footer-log {
  text-align: center;
}

